* {
  margin: 0;
  padding: 0;
}

.main-container {
  height: 630px;
  width: 500px;
  border: 5px solid gray;
  margin-left: 100px;
  margin-top: 25px;
}

.display {
  border: 5px solid gray;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.button {
  display: flex;
  flex: 1 1 auto;
  background-color: orange;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}

#clear {
  margin-top: 15px;
  margin-left: 15px;
}
